.bg-novatv{

    background-color: #2980B9;
}

.bg-novatv{

    background-color: #2980B9;
    color: white;
}
.bg-novatv{

    background-color: #2980B9;
    color: rgb(255, 255, 255,0.415);

}
.bg-novatv{

    background-color: #2980B9;
    color: white;
    padding: 1rem orem 0.5rem 0rem;
}